{% load static %}
<html>
<head>
    <title>
        report
    </title>
</head>
<link href="{% static 'css.css' %}" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
   var config = {
     type: 'pie',
     data: {
       datasets: [{
         data: [1, 16, 58, 4, 4, 31, 31, 30, 23],
         backgroundColor: [
           '#ff0000', '#0000ff', '#ff0080', '#73ffff', '#5c26ff', '#002db3', '#ffff26', '#4cff4c', '#ff00ff'
         ],
         label: 'Population'
       }],
       labels: ['10-20 marks', '20-30 marks', '30-40 marks', '40-50 marks', '50-60 marks', '60-70 marks', '70-80 marks', '80-90 marks', '90-100 marks']
     },
     options:{
         legend:{
             position:'right',
             align:'right',
         }
     }
   };
   var config1 = {
      type: 'pie',
      data: {
        datasets: [{
          data: [12, 136, 583, 44, 44, 31, 31, 30, 23],
          backgroundColor: [
            '#ff0000', '#0000ff', '#ff0080', '#73ffff', '#5c26ff', '#002db3', '#ffff26', '#4cff4c', '#ff00ff'
          ],
          label: 'marks'
        }],
        labels: ['10-20 marks', '20-30 marks', '30-40 marks', '40-50 marks', '50-60 marks', '60-70 marks', '70-80 marks', '80-90 marks', '90-100 marks']
      },
      options:{
          legend:{
              position:'right',
              align:'right',
          }
      }
    };

   window.onload = function() {
     var ctx = document.getElementById('pie').getContext('2d');
     window.myPie = new Chart(ctx, config);
     var ctx1 = document.getElementById('pie-chart').getContext('2d');
     window.myPie = new Chart(ctx1, config1);
     var ctx2 = document.getElementById('pie-chart1').getContext('2d');
     window.myPie = new Chart(ctx2, config1);
   };
 </script>
    <body>
     <div class="a">
        <img src="https://tse1.mm.bing.net/th?id=OIP.76Fw9ILdyKkJDPqOw6sMWAAAAA&pid=Api&P=0&w=225&h=141"  style="width: 50px;height:40px;float:left ;margin-left:5%">
         <h2><b>SPL REPORT GENERATOR</b></h2>
     </div>
     <h3 class="b"><u>STUDET INFORMATION</u></h3>
     <div class="c">
      
      {% block content %}
         <p>NAME:-{{use.name}}</p>
         <p>EMAIL:-{{use.email}}</p>
         <p>YEAR OF STUDY:-SECOND YEAR</p>
         <p>DEPARTMENT:-{{use.dept}}</p>
         
     </div>
     <div>
         <u><h3 class="d">SPL INDEX</h3></u>
         <p class="e">{{splindex}}</p>
         <p></p>
     </div>
     <div>
        <h3 class="e"><u>GENERAL FEEDBACK</u></h3>
        <p class="e">{{gfeed}}</p>
     </div>
     <div>
        <h3 class="d"><u>APTITUDE TEST </u></h3>
        <div class="aa" style="width: 40%;float :right">
         <canvas id="pie"></canvas>
         </div>
      </div>
        <h3 class="e">SCORE</h3>
        <p class="e">{{ap.nameofparam}} outoff 100</p>
        <h3 class="e">FEEDBACK</h3>
        <p class="e">{{ap.feedback}}</p>
        {% endblock content %}
      </div>
     <br>
     <br>
     <div>
        <h3 class="d"><u>PSYCHOMETRIC TEST </u></h3>
        <h3 class="e">FEEDBACK</h3>
        <p class="e">{{feedp}}</p>
     </div>
     <div>
        <h3 class="d"><u>GROUP DISCUSSION</u></h3>
        <div class="e">
        <p >PARAM 1:-{{gds.param1}}</p>
        <p>PARAM 2:-{{gds.param2}}</p>
        <p >PARAM 3:-{{gds.param3}}</p>
        <p >PARAM 4:-{{gds.param4}}</p>
        <p >PARAM 5:-{{gds.param5}}</p>
        <h3 >FEEDBACK</h3>
        <p >{{gds.feedback}}</p>
      <p >INTERVIEWER DETAILS:</p>
      <p>INTERVIEWER_1:- &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp NAME:-{{interr1.name}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp EMAIL:-{{interr1.email}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp PHONE NUMBER:-{{interr1.phone}}</p>
      <p>INTERVIEWER_2:- &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp NAME:-{{interr2.name}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp EMAIL:-{{interr2.email}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp PHONE NUMBER:-{{interr2.phone}}</p>
      </div>
     </div>
     <div>
        <h3 class="d"><u>RESUME BUILDING</u></h3>
        <h3 class="e">FEEDBACK</h3>
        <p class="e">{{resum.feedback}}</p>
     </div>
     <div>
        <h3 class="d"><u>ABOUT YOURSELF ESSAY</u></h3>
        <h3 class="e">FEEDBACK</h3>
        <p class="e">{{essa.feedback}}</p>
     </div>
     <div>
        <h3 class="d"><u>PERSONAL INTERVIEW</u></h3>
        <div class="e">
        <p >PARAM 1:-{{pii.param1}}</p>
        <p >PARAM 2:-{{pii.param2}}</p>
        <p >PARAM 3:-{{pii.param3}}</p>
        <p >PARAM 4:-{{pii.param4}}</p>
        <p >PARAM 5:-{{pii.param5}}</p>
        <p >PARAM 6:-{{pii.param6}}</p>
        <p >PARAM 7:-{{pii.param7}}</p>
        <p >PARAM 8:-{{pii.param8}}</p>
        <h3 >FEEDBACK</h3>
        <p >{{pii.feedback}}</p>
        <p >INTERVIEWER DETAILS:-</p>
        <p>INTERVIEWER_1:- &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp NAME:-{{interr11.name}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp EMAIL:-{{interr11.email}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp PHONE NUMBER:-{{interr11.phone}}</p>
      <p>INTERVIEWER_2:- &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp NAME:-{{interr22.name}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp EMAIL:-{{interr22.email}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp PHONE NUMBER:-{{interr22.phone}}</p>
      </div>
     </div>
     <div>
         <h3 class="f">SIGNATURE</h3>
        <p class="f">-----------</p>
        <h3 class="f">CEO, TSC</p>
     </div>
     <h3 class="d"><u>SCORES IN A NUTSHELL</u></h3>
     <div class="aa" style="width: 40%;float:right">
      <canvas id="pie-chart"></canvas>
      </div>
      <div class="aaa" style="width: 40%;">
      <canvas id="pie-chart1"></canvas>
      </div>
    </body>
</html>